<p id="notice"><%= notice %></p>

<p>
  <b>Impact:</b>
  <%= @integrity_impact.impact_id %>
</p>


<%= link_to 'Edit', edit_integrity_impact_path(@integrity_impact) %> |
<%= link_to 'Back', integrity_impacts_path %>
