<p id="notice"><%= notice %></p>

<p>
  <b>Impact:</b>
  <%= @availability_impact.impact_id %>
</p>


<%= link_to 'Edit', edit_availability_impact_path(@availability_impact) %> |
<%= link_to 'Back', availability_impacts_path %>
