<p id="notice"><%= notice %></p>

<p>
  <b>Impact:</b>
  <%= @confidentiality_impact.impact_id %>
</p>


<%= link_to 'Edit', edit_confidentiality_impact_path(@confidentiality_impact) %> |
<%= link_to 'Back', confidentiality_impacts_path %>
